* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
    /* margin: 10px 20px; */
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.logo {
    display: inline-block;
}

.logo :hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.logo a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

.logo img {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

#home {
    letter-spacing: 2px;
    font-size: 18px;
    font-family: sans-serif;
}

.nav-items ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
}

.nav-items ul a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: sans-serif;
}

.nav-items ul li:hover {
    color: #555;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.btns {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

.btns button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    font-family: sans-serif;
}

.btns button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: #333;
}

#search img {
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

#order-icon img {
    height: 24px;
    width: 24px;
    border-radius: 100%;
}